<launch>

  <include file="$(find tbot2_launch)/launch/tbot2.launch"/>
  <include file="$(find tbot2_launch)/launch/amcl_navigation.launch"/>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
  <include file="$(find arfuros)/launch/arfuros.launch"/> <!-- arfuros-specific nodes --> 

</launch>
